table{
  width: 100%;
  border-collapse: collapse;
}

.columnHeader{
  border-top: 1px solid #D5D7DD;
}

.columnHeaderSearch{
  background-color: #D5D7DD;
}

.oddRows{
  background-color: #F6F6F8;
}

.App {
  height:100vh;
  text-align: center;
}

.newRecord{
  background-color: #0c738f;
  display: inline-block;
  width: 100%;
}

.exisitingRecords{
  border: 1px solid;
  display: inline-block;
  width: 100%;
}

.column{
  float: left;
  width: 50%;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
